Package: com.simalary.SimalaryRepoIcons
Name: Simalary Repo Icons
Version: 0.0.101
Architecture: iphoneos-arm
Description: Locally cached icons for the Simalary Repo.
Essential: yes
Maintainer: Chris Harper (Simalary) <harper.chris033@live.com>
Author: Chris Harper (Simalary) <harper.chris033@live.com>
Section: System_(Repo)
