Package: com.simalary.spectrumAlpha
Name: Spectrum (Alpha)
Version: 0.1-b
Architecture: iphoneos-arm
Description: Introduce the essence of blurred icons. They are a fresh new look!
Depiction: https://simalary.github.io/depictions/SpectrumBeta/main.html
Maintainer: Chris Harper (Simalary) <harper.chris033@live.com>
Author: Chris Harper (Simalary) <harper.chris033@live.com>
Section: Themes_-_SpringBoard
